@tailwind base;
@tailwind components;
@tailwind utilities;

nav::before {
  background-image: url(../../public/images/htop.jpg);
  content: "";
  background-size: cover;
  width: 70%;
  height: 42px;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
}
.head {
  display: grid;
  grid-template-columns: 1fr;
  gap: 7px;
}
