@tailwind base;
@tailwind components;
@tailwind utilities;
body::-webkit-scrollbar {
  display: none;
}

nav::before {
  background-image: url(../../public/images/htop.jpg);
  content: "";
  background-size: cover;
  width: 70%;
  height: 42px;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
}
