.indexBottom {
  position: relative;
}
.indexBottom::before {
  background-color: #e6e6e6;
  content: "";
  background-size: cover;
  width: 100%;
  opacity: 0.9;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
}
.indexBottom .max_width_about {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 45% 55%;
  width: 100%;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
.indexBottom .about_bg {
  background-image: url("/images/map.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 100%;
}

.indexBottom::after {
  background-image: url("/images/bg-img.png");
  content: "";
  background-size: contain;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  background-repeat: no-repeat;
  top: 0;
  left: 50%;
}
@media screen and (max-width: 768px) {
  .indexBottom .max_width_about {
    grid-template-columns: 100%;
  }
  .indexBottom .max_width_about p {
    text-align: justify;
  }
  .indexBottom::after {
    display: none;
  }
}
